.btn{
   border-radius: 20px;
}
.green-bg{
    background-color: #f0fff0;
}
.writen{
    padding: 20px 40px;
}
.red{
    color: rgb(218, 50, 21);
}
.green{
    color: rgb(9, 129, 89);
}
.card{
    margin-top: 100px;
}
.card-img{
    height: 100px;
}
.categories{
    margin-bottom: 100px;
}
.cat1,.cat2,.cat3,.cat4{
    background-color: #e8faf0;
    border: none;
    padding: 20px 15px;
    text-align: center;
}
.cat2{
    box-shadow: 5px 5px 10px gray;
}
.container h2{
    text-align: center;
}
.text-muted{
    display: flex;
    justify-content: space-between;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.ln-text{
    margin-top: 50px;
}
.bottom-list{
    display: flex;
    justify-content: space-evenly;
}
.bottom-section{
    background-color: rgb(34, 31, 31);
    padding: 50px 100px;
    color: white;
}
.fotter{
    text-align: center;
    color: rgb(156, 151, 151);
    margin-top: 70px;
}